<div class="explore">
    <div class="explore__devider">××××××</div>
    <ul class="categories">
        {% for category in site.data.categories %}
            <li class="categories__item"><a href="{{ '/categories/' | append: category.slug | prepend: site.baseurl }}">{{ category.name }}</a></li>
        {% endfor %}
		<li class="categories__item"><a href="{{ '/' | prepend: site.baseurl }}">ALL</a></li>
    <li><a href="https://keybase.io/chowraid/key.asc" target="_blank">AC6C 045B F0E3 D785</a></li>
    </ul>
</div>
