---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500|Roboto:300,400,500';
@charset "utf-8";

/* =Colors */
$dorian: #FAFAFA;
$iron: #111;
$cloudy: #40C4FF;

/* =Fonts */
$title-font: 'Roboto Mono', monospace;
$body-font: 'Roboto', sans-serif;

@import
    "mixins",
    "default",
    "404"
;
